<br/>
<div class="row">
	<div class="row" style="margin-bottom : 10px;"></div>
    <div class="col-md-2">
    		<p><a href="/" class="btn btn-info btn-quite" style="">Quit Game</a></p>
        <ul class="list-group" id="sideScreenR">
		</ul>
    </div>
    <div class="col-md-8"  id="mainScreen" data-token="{{ token }}" data-user="{{ user }}" data-host="{{ isHost }}">
    </div>
    <div class="col-md-2" id="sideScreenL">
    	{{#if isHost}}
			<div id="gameInfo" data-rows="{{ rows }}" data-cols="{{ cols }}" data-minPlayers="{{ minPlayers }}" data-freezeTime="{{ freezeTime }}"></div>
			<button class="btn btn-primary" id="startGame">Start Game</button>
		{{/if}}
    </div>
</div>

<script type="text/javascript" src="/js/{{ js }}"></script>